.semi { background-image: url('./spritesheet.png'); background-position: 0 0; width: 122px; height: 144px; }
.truck { background-image: url('./spritesheet.png'); background-position: -122px 0; width: 100px; height: 78px; }
.beatka { background-image: url('./spritesheet.png'); background-position: -222px 0; width: 80px; height: 80px; }
.misiewicz { background-image: url('./spritesheet.png'); background-position: 0 -144px; width: 80px; height: 80px; }
.maciarenko { background-image: url('./spritesheet.png'); background-position: -80px -144px; width: 80px; height: 80px; }
.car03 { background-image: url('./spritesheet.png'); background-position: -122px -78px; width: 88px; height: 55px; }
.car02 { background-image: url('./spritesheet.png'); background-position: -222px -80px; width: 80px; height: 59px; }
.car04 { background-image: url('./spritesheet.png'); background-position: -160px -144px; width: 80px; height: 57px; }
.car01 { background-image: url('./spritesheet.png'); background-position: 0 -224px; width: 80px; height: 56px; }
.player_uphill_left { background-image: url('./spritesheet.png'); background-position: -80px -224px; width: 80px; height: 45px; }
.player_uphill_right { background-image: url('./spritesheet.png'); background-position: -160px -224px; width: 80px; height: 45px; }
.player_uphill_straight { background-image: url('./spritesheet.png'); background-position: -302px 0; width: 80px; height: 45px; }
.player_right { background-image: url('./spritesheet.png'); background-position: -302px -45px; width: 80px; height: 41px; }
.player_straight { background-image: url('./spritesheet.png'); background-position: -302px -86px; width: 80px; height: 41px; }
.player_left { background-image: url('./spritesheet.png'); background-position: -302px -127px; width: 80px; height: 41px; }
