
/****************************************/
/* common styles used for v1 through v4 */
/****************************************/
html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#racer {
  position: relative;
  z-index: 0;
  width: 940px;
  height: 100%;
  margin: 0;
  border: none;
}
#racer.portrait {
  width: 100%;
  height: 100%;
  margin: auto;
}

#canvas {
  position: absolute;
  left: 150px;
  z-index: 0;
  width: 640px;
  height: 480px;
  background-color: transparent;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}
#canvas.portrait {
  left: 0;
  width: 100%;
  height: 100%;
}

#left-touch {
  position: absolute;
  left: 0;
  z-index: 0;
  width: 150px;
  height: 100%;
  background-color: #171717;
}
#left-touch.portrait {
  display: none;
}

#right-touch {
  position: absolute;
  right: 0;
  z-index: 0;
  width: 150px;
  height: 100%;
  background-color: #171717;
}
#right-touch.portrait {
  display: none;
}

/**************************************************/
/* rudimentary heads up display (only used in v4) */
/**************************************************/

#hud {
  position: absolute;
  left: 150px;
  z-index: 1000;
  width: 640px;
  padding: 5px 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.8em;
  background-color: rgba(0,38,84,0.55);
  color: black;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#hud .hud {
  background-color: rgba(255,255,255,0.8);
  padding: 5px;
  border: 1px solid black;
  margin: 0 5px;
  transition-property: background-color;
  transition-duration: 2s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 2s;
}
#hud.hidden            { display: none; }
#hud #speed            { float: right; }
#hud #current_lap_time { float: left;  }
#hud #last_lap_time    { float: left; display: none;  }
#hud #fast_lap_time    { display: block; width: 12em;  margin: 0 auto; text-align: center; transition-property: background-color; transition-duration: 2s; -webkit-transition-property: background-color; -webkit-transition-duration: 2s; }
#hud .value            { color: black; font-weight: bold; }
#hud .fastest          { background-color: rgba(255,215,0,0.5); }
#canvas {
  z-index: 100;
}
.loading {
  position: absolute;
  top: 250px;
  left: 250px;
  z-index: 10;
}

